<div class="sidebar has-subSidebar">
  <div class="sidebar-header">

  </div>

  <a class="sidebar-item" href="<%= stars_path %>">
    <span class="gicon-home"></span>HOME
  </a>
  <a class="sidebar-item" href="<%= stars_path %>">
    <span class="gicon-write"></span>My Notes
  </a>
  <a class="sidebar-item" href="<%= stars_path %>">
    <span class="gicon-star2"></span>Stars
  </a>

  <div class="subSidebar">
    <div class="subSidebar-header"></div>
  </div>
</div>
