<div class="sidebar has-subSidebar">
  <div class="sidebar-header">
    <h1>G Box</h1>
  </div>
  <a href="<%= stars_path %>">Repositories</a>

  <div class="subSidebar">
    <div class="subSidebar-header"></div>
  </div>
</div>
