<div class="sidebar">
  <div class="header header--sidebar">

  </div>

  <a class="sidebar-item" href="<%= stars_path %>">
    <span class="gicon-home"></span>HOME
  </a>
  <a class="sidebar-item" href="<%= stars_path %>">
    <span class="gicon-write"></span>My Notes
  </a>
  <a class="sidebar-item" href="<%= stars_path %>">
    <span class="gicon-star2"></span>Stars
  </a>

  <div class="subSidebar">
    <div class="header header--subSidebar"></div>
  </div>
  <div class="sidebar-mask">
  </div>
</div>
