<div class="noteCard">
  <div class="noteCard-tag tag tag--bomb">
    Bomb
  </div>
  <div class="noteCard-created">
    <%= render_note_created_time(note) %>

  </div>
  <div class="noteCard-name"><%= note.name %></div>
  <div class="noteCard-bottom">
  <%= link_to edit_note_path(note), class: "opBtn opBtn--edit noteCard-bottom-btn" do %>
    <span class="opBtn-icon gicon-write"></span>
  <% end %>
  </div>
</div>