<div class="noteContainer">
  <div id="popular" class="noteContainer-list">

  </div>

  <div id="mynote" class="noteContainer-list">

  </div>

  <div id="saved" class="noteContainer-list">

  </div>
</div>