<div class="noteContainer">
  <div id="popular" class="tabContent noteContainer-list is_actived">
popular
  </div>

  <div id="mynote" class="tabContent noteContainer-list">
mynote
  </div>

  <div id="saved" class="tabContent noteContainer-list">
saved
  </div>
</div>