<h1>Repositories#index</h1>
<p>Find me in app/views/repositories/index.html.erb</p>


<ul class="list-group">
  <% @repos.each do |repo| %>
    <li class="list-group-item list-group-item-default">
      <!-- <a href=""><%= repo.owner_name %></a>/ -->
      <a href="<%= repo.url %>"><%= repo.name %></a>
      <span class="badge badge-default"><%= repo.stargazers_count %></span>
    </li>
  <% end %>
</ul>