<div class="info-bar">
  <h1><%= @repo.name %></h1>
  <div><%= @repo.github_description %></div>
</div>
<div class="discription">
  <h3>描述</h3>
  <%= @repo.github_description %>
</div>
<div class="notes">

</div>