<div class="info-bar">
  <h1><%= @repo.name %></h1>
  <div><%= @repo.github_description %></div>
</div>
<div class="description">
  <h3>描述</h3>
  <%= best_in_place @repo, :description, type: :textarea %>
</div>
<div class="notes">
  <h3>Note</h3>
  <a href="<%= new_repository_note_path(@repo) %>">新增</a>
</div>