// *************************************
//
//   Sidebar
//   -> Revealed navgation menu
//
// *************************************

.sidebar
  position: fixed
  left: 0
  height: 100%
  width: $sidebar-width
  background-color: $sidebar-background-color
  z-index: 2

// -------------------------------------
//   Modifiers
// -------------------------------------

// -------------------------------------
//   States
// -------------------------------------

.sidebar.is-open
  .sidebar-mask
    display: block
  .subSidebar
    display: block
    left: $sidebar-width

// -------------------------------------
//   Context
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- variables ----- //



// ----- base ----- //

.sidebar a
  text-decoration: none
  color: $whitesmoke

// ----- Header ----- //



// ----- Item ----- //

.sidebar-item
  display: block
  color: $whitesmoke
  cursor: pointer
  margin: 0
  padding-left: 2em
  +adjust-font-size-to(16px)
  +rhythm(0, 0.5, 0.5, 0, 16px)
  &:hover
    background-color: lighten($c-background-invert, 5%)

.sidebar-mask
  position: fixed
  top: 0
  left: 0
  // display: block
  display: none
  width: 100%
  height: 100vh
  z-index: -1
  background-color: rgba(0,0,0, 0.2)
