// *************************************
//
//   Sub-Sidebbar
//   -> Next to sidebar.
//
// *************************************

.subSidebar
  +single-transition( left, 0.3s)
  position: absolute
  display: none
  top: 0
  left: 0
  height: 100%
  width: $subSidebar-width
  background-color: $subSidebar-background-color

// -------------------------------------
//   Modifiers
// -------------------------------------



// -------------------------------------
//   States
// -------------------------------------



// -------------------------------------
//   Context
// -------------------------------------


// -------------------------------------
//   Scaffolding
// -------------------------------------
