// *************************************
//
//   Operation Button
//   -> for operation button. like save or comment.
//
// *************************************

.opBtn
  color: $c-text-hint

// -------------------------------------
//   Modifiers
// -------------------------------------

.opBtn--save
  cursor: pointer
  &:hover
    color: $c-text-hover

.opBtn--edit
  cursor: pointer
  &:hover
    color: $c-text-hover

// -------------------------------------
//   States
// -------------------------------------



// -------------------------------------
//   Context
// -------------------------------------



// -------------------------------------
//   Scaffolding
// -------------------------------------

.opBtn-icon
  margin-right: 0