* {
  box-sizing: border-box;
}
.container {
  position: absolute;
  left: 268px;
}
.sidebar {
  width: 268px;
  height: 100%;
  float: left;
  background-color: #434A54;
  padding: 15px 10px 0;
  line-height: 1;
  font-weight: normal;
  position: fixed;
  top: 0px;
  left: 0px;
  h1 {
    color: #F5F7FA;
    margin-top: -10px;
  }
  .sidebarNav {
    padding-bottom: 20px;
  }
  .sidebarInfo {
    height: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
  }
  .form-search {
    margin-bottom: 35px;
    .input-group-btn {
      position: absolute;
      top: 0;
      right: -2px;
    }
  }
  .fixedProfile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    border-top: 1px solid rgba( 0, 0, 0, 0.06 );
    background: #434A54;
    .profilePic {
      width: 50px;
      height: 50px;
      float:left;
    }
    .profileName {
      display: inline;
      color: #fff;
      font-size: 26px;
      line-height: 50px;
      vertical-align: middle;
      padding: 0 20px;
    }
    .profileMore {
      display: inline;
      color: #fff;
    }
  }
}
